@font-face {
  font-family: "iconfont"; /* Project id 5150755 */
  src: url('iconfont.woff2?t=1774886161237') format('woff2'),
       url('iconfont.woff?t=1774886161237') format('woff'),
       url('iconfont.ttf?t=1774886161237') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shizhong:before {
  content: "\e74f";
}

.icon-lishi:before {
  content: "\e63b";
}

.icon-zhankai:before {
  content: "\e797";
}

.icon-dengpao:before {
  content: "\e62c";
}

.icon-zhuanfa:before {
  content: "\e627";
}

.icon-wodedahuiyuan:before {
  content: "\e6c3";
}

.icon-kefu:before {
  content: "\e625";
}

.icon-huomiao:before {
  content: "\e689";
}

.icon-dianzan:before {
  content: "\e60f";
}

.icon-aixin:before {
  content: "\e613";
  color: red;
  font-size: 28px;
}

.icon-fangdajing:before {
  content: "\e637";
}

.icon-maikefeng:before {
  content: "\e70d";
}

.icon-huomiao1:before {
  content: "\e6d1";
}

.icon-dianzan_kuai:before {
  content: "\ec8c";
}

.icon-xinxi:before {
  content: "\e608";
}

.icon-shizhong1:before {
  content: "\e624";
}

.icon-shangchuan:before {
  content: "\eb11";
}

.icon-xiazai:before {
  content: "\eb12";
}

.icon-yiqikan:before {
  content: "\e609";
}

.icon-Dyanjing:before {
  content: "\e8ab";
}

.icon-fengche:before {
  content: "\e827";
}

.icon-xiangqing:before {
  content: "\e611";
}

.icon-shafa:before {
  content: "\e626";
}

.icon-Bzhan:before {
  content: "\e744";
}

.icon-toubi:before {
  content: "\e639";
}

.icon-jingyu_whale:before {
  content: "\e766";
}

.icon-heart-add-2-line:before {
  content: "\e819";
  color: black;
}

.icon-sifangge:before {
  content: "\e600";
}

.icon-sousuo:before {
  content: "\e60d";
}

.icon-touming:before {
  content: "\e607";
}

